/* Dropdown CSS */
.dropdown-container {
  position: relative;
  display: inline-block;
}

.button-container {
  position: relative;
  width:120px;
  text-align: center;
}

.button-container:hover .text-white {
  background-color: #cbd5e1;
  color: #475569;
  border-radius: 8px;
  width: 120px;
}

.dropdown-container .dropdown-content {
  display: none;
  position: absolute;
  background-color: #cbd5e1;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  width: 120px;
  }

.dropdown-container:hover .dropdown-content {
  display: block;
}
